<h1>Main Page</h1>
<!-- Navigation buttons -->
<button id="home"><a href="/">Home</a></button>
<button id="saved-articles"><a href="/saved-articles">Saved Articles</a></button>
<button id="scrape-articles">Scrape Articles</button>

<!-- Articles populate here when the user clicks "Scrape Articles" -->
<section id="article-section">
</section>