<h1>Main Page</h1>
<button id="home"><a href="/">Home</a></button>
<button id="saved-articles"><a href="/saved-articles">Saved Articles</a></button>
<button id="scrape-articles">Scrape Articles</button>
<section id="article-section">
</section>